 
/* start css.sty */
.pplr7t-x-x-172{font-size:172%;}
.pplri7t-x-x-172{font-size:172%;font-style: italic;}
.pplri7t-x-x-172{font-style: italic;}
.pplr7t-x-x-120{font-size:120%;}
.pplr7t-x-x-90{font-size:90%;}
.pcrr7t-{font-family: monospace;}
.pplri7t-{font-style: italic;}
.pplri7t-{font-style: italic;}
.pplr7t-x-x-80{font-size:80%;}
.pcrro7t-{font-family: monospace;    font-style: oblique;}
.pcrro7t-{font-family: monospace;    font-style: oblique;}
.pcrr7t-x-x-90{font-size:90%;font-family: monospace;}
.pplb7t-{font-weight: bold;}
.pcrb7t-{ font-family: monospace; font-weight: bold;}
.pcrb7t-{ font-family: monospace; font-weight: bold;}
.pcrr8c-x-x-90{font-size:90%; font-family: monospace;}
.pcrb7t-x-x-90{font-size:90%; font-family: monospace; font-weight: bold;}
.pcrb7t-x-x-90{ font-family: monospace; font-weight: bold;}
.pcrro7t-x-x-90{font-size:90%;font-family: monospace;    font-style: oblique;}
.pcrro7t-x-x-90{font-family: monospace;    font-style: oblique;}
.pcrb8c-{ font-weight: bold; font-family: monospace;}
@media print {span.next {visibility:hidden;}}
p.noindent { text-indent: 0em }
td p.noindent { text-indent: 0em; margin-top:0em; }
p.nopar { text-indent: 0em; }
p.indent{ text-indent: 1.5em }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
div.verbatim {font-family: monospace; white-space: nowrap; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.footnotes{border-top:solid 1px black; border-bottom:solid 1px black; padding-bottom:1ex; padding-top:0.5ex; margin-right:15%; margin-top:2ex; font-style:italic; font-size:85%;}
div.footnotes p{margin-top:0; margin-bottom:0; text-indent:0;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 1px; margin:0px; }
.tabbing-right {text-align:right;}
span.TEX {letter-spacing: -0.125em; }
span.TEX span.E{ position:relative;top:0.5ex;left:-0.0417em;}
a span.TEX span.E {text-decoration: none; }
span.LATEX span.A{ position:relative; top:-0.5ex; left:-0.4em; font-size:85%;}
span.LATEX span.TEX{ position:relative; left: -0.4em; }
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p{margin-top:0.4em; margin-bottom:0.4em;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.quote {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; margin-right:1em; text-align:justify;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
.quotation {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; }
h1.partHead{text-align: center}
 .chapterToc, .likechapterToc {margin-left:0em;}
 .chapterToc ~ .likesectionToc, .chapterToc ~ .sectionToc, .likechapterToc ~ .likesectionToc, .likechapterToc ~ .sectionToc {margin-left:2em;}
 .chapterToc ~ .likesectionToc ~ .likesubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc, .likechapterToc ~ .sectionToc ~ .subsectionToc {margin-left:4em;}
.chapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc ~ .subsubsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likechapterToc ~ .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc .likechapterToc ~ .sectionToc ~ .subsectionToc ~ .subsubsectionToc {margin-left:6em;}
 .likesectionToc , .sectionToc {margin-left:0em;}
 .likesectionToc ~ .likesubsectionToc, .likesectionToc ~ .subsectionToc, .sectionToc ~ .likesubsectionToc, .sectionToc ~ .subsectionToc {margin-left:2em;}
.likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .sectionToc ~ .subsectionToc ~ .subsubsectionToc {margin-left:4em;}
 .likesubsectionToc, .subsectionToc {margin-left:0em;}
 .likesubsectionToc ~ .subsubsectionToc, .subsectionToc ~ .subsubsectionToc, {margin-left:2em;}
.ovalbox { padding-left:3pt; padding-right:3pt; border:solid thin; }
.Ovalbox-thick { padding-left:3pt; padding-right:3pt; border:solid thick; }
.shadowbox { padding-left:3pt; padding-right:3pt; border:solid thin; border-right:solid thick; border-bottom:solid thick; }
.doublebox { padding-left:3pt; padding-right:3pt; border-style:double; border:solid thick; }
P.fancyvrb {white-space: nowrap; margin:0em;}
.lstlisting .label{margin-right:0.5em; }
div.lstlisting{font-family: monospace; white-space: nowrap; margin-top:0.5em; margin-bottom:0.5em; }
div.lstinputlisting{ font-family: monospace; white-space: nowrap; }
.lstinputlisting .label{margin-right:0.5em;}

span#textcolor1{color:rgb(135,135,135)}
span#textcolor2{color:rgb(0,50,135)}
span#textcolor3{color:rgb(135,135,135)}
span#textcolor4{color:rgb(0,50,135)}
span#textcolor5{color:rgb(135,135,135)}
span#textcolor6{color:rgb(0,50,135)}
span#textcolor7{color:rgb(135,135,135)}
span#textcolor8{color:rgb(0,50,135)}
span#textcolor9{color:rgb(135,135,135)}
span#textcolor10{color:rgb(0,50,135)}
span#textcolor11{color:rgb(135,135,135)}
span#textcolor12{color:rgb(135,135,135)}
span#textcolor13{color:rgb(0,50,135)}
span#textcolor14{color:rgb(135,135,135)}
span#textcolor15{color:rgb(0,50,135)}
span#textcolor16{color:rgb(135,135,135)}
span#textcolor17{color:rgb(135,135,135)}
span#textcolor18{color:rgb(135,135,135)}
span#textcolor19{color:rgb(135,135,135)}
span#textcolor20{color:rgb(135,135,135)}
span#textcolor21{color:rgb(0,50,135)}
span#textcolor22{color:rgb(0,50,135)}
span#textcolor23{color:rgb(0,135,0)}
span#textcolor24{color:rgb(0,101,186)}
span#colorbox25{background-color:rgb(255,239,239);}
span#textcolor26{color:rgb(221,33,0)}
span#colorbox27{background-color:rgb(255,239,239);}
span#textcolor28{color:rgb(221,33,0)}
span#textcolor29{color:rgb(0,0,221)}
span#textcolor30{color:rgb(0,135,0)}
span#colorbox31{background-color:rgb(255,239,239);}
span#textcolor32{color:rgb(221,33,0)}
span#colorbox33{background-color:rgb(255,239,239);}
span#textcolor34{color:rgb(0,68,221)}
span#colorbox35{background-color:rgb(255,239,239);}
span#textcolor36{color:rgb(221,33,0)}
span#textcolor37{color:rgb(0,0,221)}
span#textcolor38{color:rgb(0,135,0)}
span#textcolor39{color:rgb(0,135,0)}
span#textcolor40{color:rgb(0,101,186)}
span#colorbox41{background-color:rgb(255,239,239);}
span#textcolor42{color:rgb(221,33,0)}
span#colorbox43{background-color:rgb(255,239,239);}
span#textcolor44{color:rgb(221,33,0)}
span#colorbox45{background-color:rgb(255,239,239);}
span#textcolor46{color:rgb(50,50,186)}
span#colorbox47{background-color:rgb(255,239,239);}
span#textcolor48{color:rgb(0,68,221)}
span#colorbox49{background-color:rgb(255,239,239);}
span#textcolor50{color:rgb(221,33,0)}
span#colorbox51{background-color:rgb(255,239,239);}
span#textcolor52{color:rgb(221,33,0)}
span#colorbox53{background-color:rgb(255,239,239);}
span#textcolor54{color:rgb(221,33,0)}
span#colorbox55{background-color:rgb(255,239,239);}
span#textcolor56{color:rgb(221,33,0)}
span#colorbox57{background-color:rgb(255,239,239);}
span#textcolor58{color:rgb(221,33,0)}
span#colorbox59{background-color:rgb(255,239,239);}
span#textcolor60{color:rgb(221,33,0)}
span#colorbox61{background-color:rgb(255,239,239);}
span#textcolor62{color:rgb(221,33,0)}
span#colorbox63{background-color:rgb(255,239,239);}
span#textcolor64{color:rgb(221,33,0)}
span#colorbox65{background-color:rgb(255,239,239);}
span#textcolor66{color:rgb(221,33,0)}
span#colorbox67{background-color:rgb(255,239,239);}
span#textcolor68{color:rgb(221,33,0)}
span#colorbox69{background-color:rgb(226,209,209);}
span#textcolor70{color:rgb(165,22,22)}
span#colorbox71{background-color:rgb(255,239,239);}
span#textcolor72{color:rgb(221,33,0)}
span#colorbox73{background-color:rgb(255,239,239);}
span#textcolor74{color:rgb(221,33,0)}
span#colorbox75{background-color:rgb(255,239,239);}
span#textcolor76{color:rgb(221,33,0)}
span#colorbox77{background-color:rgb(226,209,209);}
span#textcolor78{color:rgb(165,22,22)}
span#colorbox79{background-color:rgb(255,239,239);}
span#textcolor80{color:rgb(221,33,0)}
span#colorbox81{background-color:rgb(255,239,239);}
span#textcolor82{color:rgb(221,33,0)}
span#colorbox83{background-color:rgb(255,239,239);}
span#textcolor84{color:rgb(221,33,0)}
span#colorbox85{background-color:rgb(226,209,209);}
span#textcolor86{color:rgb(165,22,22)}
span#colorbox87{background-color:rgb(255,239,239);}
span#textcolor88{color:rgb(221,33,0)}
span#colorbox89{background-color:rgb(255,239,239);}
span#textcolor90{color:rgb(221,33,0)}
span#colorbox91{background-color:rgb(255,239,239);}
span#textcolor92{color:rgb(221,33,0)}
span#colorbox93{background-color:rgb(255,239,239);}
span#textcolor94{color:rgb(221,33,0)}
span#colorbox95{background-color:rgb(255,239,239);}
span#textcolor96{color:rgb(221,33,0)}
span#colorbox97{background-color:rgb(255,239,239);}
span#textcolor98{color:rgb(221,33,0)}
span#textcolor99{color:rgb(0,50,135)}
span#colorbox100{background-color:rgb(255,239,239);}
span#textcolor101{color:rgb(221,33,0)}
span#colorbox102{background-color:rgb(255,239,239);}
span#textcolor103{color:rgb(221,33,0)}
span#colorbox104{background-color:rgb(255,239,239);}
span#textcolor105{color:rgb(221,33,0)}
span#colorbox106{background-color:rgb(255,239,239);}
span#textcolor107{color:rgb(221,33,0)}
span#colorbox108{background-color:rgb(255,239,239);}
span#textcolor109{color:rgb(0,68,221)}
span#colorbox110{background-color:rgb(255,239,239);}
span#textcolor111{color:rgb(221,33,0)}
span#colorbox112{background-color:rgb(255,239,239);}
span#textcolor113{color:rgb(221,33,0)}
span#colorbox114{background-color:rgb(255,239,239);}
span#textcolor115{color:rgb(221,33,0)}
span#colorbox116{background-color:rgb(255,239,239);}
span#textcolor117{color:rgb(221,33,0)}
span#textcolor118{color:rgb(0,0,221)}
span#colorbox119{background-color:rgb(255,239,239);}
span#textcolor120{color:rgb(221,33,0)}
span#colorbox121{background-color:rgb(255,239,239);}
span#textcolor122{color:rgb(221,33,0)}
span#colorbox123{background-color:rgb(255,239,239);}
span#textcolor124{color:rgb(221,33,0)}
span#colorbox125{background-color:rgb(255,239,239);}
span#textcolor126{color:rgb(221,33,0)}
span#colorbox127{background-color:rgb(255,239,239);}
span#textcolor128{color:rgb(221,33,0)}
span#colorbox129{background-color:rgb(255,239,239);}
span#textcolor130{color:rgb(221,33,0)}
span#textcolor131{color:rgb(0,50,135)}
span#colorbox132{background-color:rgb(255,239,239);}
span#textcolor133{color:rgb(221,33,0)}
span#colorbox134{background-color:rgb(255,239,239);}
span#textcolor135{color:rgb(221,33,0)}
span#colorbox136{background-color:rgb(255,239,239);}
span#textcolor137{color:rgb(221,33,0)}
span#colorbox138{background-color:rgb(255,239,239);}
span#textcolor139{color:rgb(221,33,0)}
span#colorbox140{background-color:rgb(255,239,239);}
span#textcolor141{color:rgb(0,68,221)}
span#colorbox142{background-color:rgb(255,239,239);}
span#textcolor143{color:rgb(221,33,0)}
span#colorbox144{background-color:rgb(255,239,239);}
span#textcolor145{color:rgb(221,33,0)}
span#colorbox146{background-color:rgb(255,239,239);}
span#textcolor147{color:rgb(221,33,0)}
span#colorbox148{background-color:rgb(255,239,239);}
span#textcolor149{color:rgb(221,33,0)}
span#textcolor150{color:rgb(0,50,135)}
span#textcolor151{color:rgb(0,50,135)}
span#textcolor152{color:rgb(0,50,135)}
span#textcolor153{color:rgb(0,50,135)}
span#textcolor154{color:rgb(0,50,135)}
span#textcolor155{color:rgb(0,50,135)}
span#textcolor156{color:rgb(0,50,135)}
span#textcolor157{color:rgb(50,101,153)}
span#colorbox158{background-color:rgb(255,239,239);}
span#textcolor159{color:rgb(221,33,0)}
span#colorbox160{background-color:rgb(255,239,239);}
span#textcolor161{color:rgb(221,33,0)}
span#textcolor162{color:rgb(0,50,135)}
span#colorbox163{background-color:rgb(255,239,239);}
span#textcolor164{color:rgb(221,33,0)}
span#colorbox165{background-color:rgb(255,239,239);}
span#textcolor166{color:rgb(221,33,0)}
span#textcolor167{color:rgb(0,50,135)}
span#textcolor168{color:rgb(0,50,135)}
span#textcolor169{color:rgb(0,135,0)}
span#textcolor170{color:rgb(186,0,101)}
span#textcolor171{color:rgb(0,135,0)}
span#textcolor172{color:rgb(186,0,101)}
span#textcolor173{color:rgb(0,135,0)}
span#textcolor174{color:rgb(0,135,0)}
span#textcolor175{color:rgb(186,0,101)}
span#textcolor176{color:rgb(0,135,0)}
span#colorbox177{background-color:rgb(255,239,239);}
span#textcolor178{color:rgb(221,33,0)}
span#colorbox179{background-color:rgb(255,239,239);}
span#textcolor180{color:rgb(221,33,0)}
span#colorbox181{background-color:rgb(255,239,239);}
span#textcolor182{color:rgb(221,33,0)}
span#textcolor183{color:rgb(0,135,0)}
span#colorbox184{background-color:rgb(255,239,239);}
span#textcolor185{color:rgb(221,33,0)}
span#colorbox186{background-color:rgb(255,239,239);}
span#textcolor187{color:rgb(221,33,0)}
span#colorbox188{background-color:rgb(255,239,239);}
span#textcolor189{color:rgb(221,33,0)}
span#textcolor190{color:rgb(0,135,0)}
span#textcolor191{color:rgb(0,50,135)}
span#textcolor192{color:rgb(0,50,135)}
span#colorbox193{background-color:rgb(255,239,239);}
span#textcolor194{color:rgb(221,33,0)}
span#colorbox195{background-color:rgb(255,239,239);}
span#textcolor196{color:rgb(221,33,0)}
span#colorbox197{background-color:rgb(255,239,239);}
span#textcolor198{color:rgb(221,33,0)}
span#textcolor199{color:rgb(135,135,135)}
span#textcolor200{color:rgb(135,135,135)}
span#textcolor201{color:rgb(135,135,135)}
span#textcolor202{color:rgb(135,135,135)}
span#textcolor203{color:rgb(0,50,135)}
span#textcolor204{color:rgb(135,135,135)}
span#textcolor205{color:rgb(135,135,135)}
span#textcolor206{color:rgb(135,135,135)}
span#textcolor207{color:rgb(0,50,135)}
span#textcolor208{color:rgb(135,135,135)}
span#textcolor209{color:rgb(0,50,135)}
span#textcolor210{color:rgb(135,135,135)}
span#textcolor211{color:rgb(0,50,135)}
span#textcolor212{color:rgb(135,135,135)}
span#textcolor213{color:rgb(135,135,135)}
span#textcolor214{color:rgb(135,135,135)}
span#textcolor215{color:rgb(135,135,135)}
span#textcolor216{color:rgb(135,135,135)}
span#textcolor217{color:rgb(135,135,135)}
span#textcolor218{color:rgb(0,50,135)}
span#textcolor219{color:rgb(0,50,135)}
span#textcolor220{color:rgb(135,135,135)}
span#textcolor221{color:rgb(135,135,135)}
span#textcolor222{color:rgb(135,135,135)}
span#textcolor223{color:rgb(135,135,135)}
span#textcolor224{color:rgb(0,50,135)}
span#textcolor225{color:rgb(135,135,135)}
span#textcolor226{color:rgb(135,135,135)}
span#textcolor227{color:rgb(0,135,0)}
span#textcolor228{color:rgb(0,135,0)}
span#textcolor229{color:rgb(50,101,153)}
span#textcolor230{color:rgb(0,135,0)}
span#textcolor231{color:rgb(135,135,135)}
span#textcolor232{color:rgb(0,135,0)}
span#textcolor233{color:rgb(0,135,0)}
span#textcolor234{color:rgb(50,101,153)}
span#textcolor235{color:rgb(0,135,0)}
span#textcolor236{color:rgb(135,135,135)}
span#textcolor237{color:rgb(0,135,0)}
span#textcolor238{color:rgb(0,135,0)}
span#textcolor239{color:rgb(0,50,135)}
span#textcolor240{color:rgb(50,101,153)}
span#textcolor241{color:rgb(50,101,153)}
span#textcolor242{color:rgb(50,101,153)}
span#textcolor243{color:rgb(50,101,153)}
span#textcolor244{color:rgb(0,135,0)}
span#textcolor245{color:rgb(135,135,135)}
span#textcolor246{color:rgb(0,135,0)}
span#textcolor247{color:rgb(0,135,0)}
span#textcolor248{color:rgb(0,50,135)}
span#colorbox249{background-color:rgb(255,239,239);}
span#textcolor250{color:rgb(221,33,0)}
span#textcolor251{color:rgb(50,101,153)}
span#textcolor252{color:rgb(0,135,0)}
span#textcolor253{color:rgb(0,135,0)}
span#textcolor254{color:rgb(0,135,0)}
span#textcolor255{color:rgb(50,101,153)}
span#textcolor256{color:rgb(0,135,0)}
span#textcolor257{color:rgb(135,135,135)}
span#textcolor258{color:rgb(50,101,153)}
span#textcolor259{color:rgb(50,101,153)}
span#textcolor260{color:rgb(0,50,135)}
span#textcolor261{color:rgb(135,135,135)}
span#textcolor262{color:rgb(135,135,135)}
span#textcolor263{color:rgb(135,135,135)}
span#textcolor264{color:rgb(0,50,135)}
span#colorbox265{background-color:rgb(255,239,239);}
span#textcolor266{color:rgb(221,33,0)}
span#textcolor267{color:rgb(135,135,135)}
span#textcolor268{color:rgb(0,50,135)}
span#colorbox269{background-color:rgb(255,239,239);}
span#textcolor270{color:rgb(221,33,0)}
span#textcolor271{color:rgb(0,50,135)}
span#colorbox272{background-color:rgb(255,239,239);}
span#textcolor273{color:rgb(221,33,0)}
span#textcolor274{color:rgb(135,135,135)}
span#textcolor275{color:rgb(135,135,135)}
span#textcolor276{color:rgb(0,50,135)}
span#textcolor277{color:rgb(0,50,135)}
span#textcolor278{color:rgb(135,135,135)}
span#textcolor279{color:rgb(135,135,135)}
span#textcolor280{color:rgb(50,101,153)}
span#textcolor281{color:rgb(50,101,153)}
span#textcolor282{color:rgb(135,135,135)}
span#textcolor283{color:rgb(135,135,135)}
span#textcolor284{color:rgb(135,135,135)}
span#textcolor285{color:rgb(135,135,135)}
span#textcolor286{color:rgb(135,135,135)}
span#textcolor287{color:rgb(135,135,135)}
span#textcolor288{color:rgb(135,135,135)}
span#textcolor289{color:rgb(0,50,135)}
span#textcolor290{color:rgb(50,101,153)}
span#textcolor291{color:rgb(50,101,153)}
span#textcolor292{color:rgb(0,50,135)}
span#textcolor293{color:rgb(50,101,153)}
span#textcolor294{color:rgb(135,135,135)}
span#textcolor295{color:rgb(135,135,135)}
span#textcolor296{color:rgb(0,50,135)}
span#textcolor297{color:rgb(50,101,153)}
span#textcolor298{color:rgb(50,101,153)}
span#textcolor299{color:rgb(135,135,135)}
span#textcolor300{color:rgb(135,135,135)}
span#textcolor301{color:rgb(0,50,135)}
span#textcolor302{color:rgb(135,135,135)}
span#textcolor303{color:rgb(50,101,153)}
span#textcolor304{color:rgb(50,101,153)}
span#textcolor305{color:rgb(135,135,135)}
span#textcolor306{color:rgb(135,135,135)}
span#textcolor307{color:rgb(135,135,135)}
span#textcolor308{color:rgb(135,135,135)}
span#textcolor309{color:rgb(135,135,135)}
span#textcolor310{color:rgb(135,135,135)}
span#textcolor311{color:rgb(135,135,135)}
span#textcolor312{color:rgb(135,135,135)}
span#textcolor313{color:rgb(0,50,135)}
span#colorbox314{background-color:rgb(255,239,239);}
span#textcolor315{color:rgb(221,33,0)}
span#colorbox316{background-color:rgb(255,239,239);}
span#textcolor317{color:rgb(221,33,0)}
span#textcolor318{color:rgb(135,135,135)}
span#textcolor319{color:rgb(135,135,135)}
span#textcolor320{color:rgb(135,135,135)}
span#textcolor321{color:rgb(0,50,135)}
span#textcolor322{color:rgb(50,101,153)}
span#textcolor323{color:rgb(50,101,153)}
span#textcolor324{color:rgb(0,50,135)}
span#textcolor325{color:rgb(50,101,153)}
span#textcolor326{color:rgb(135,135,135)}
span#textcolor327{color:rgb(135,135,135)}
span#textcolor328{color:rgb(0,50,135)}
span#textcolor329{color:rgb(50,101,153)}
span#textcolor330{color:rgb(50,101,153)}
span#textcolor331{color:rgb(135,135,135)}
span#textcolor332{color:rgb(0,50,135)}
span#textcolor333{color:rgb(50,101,153)}
span#textcolor334{color:rgb(50,101,153)}
span#textcolor335{color:rgb(0,50,135)}
span#textcolor336{color:rgb(50,101,153)}
span#textcolor337{color:rgb(135,135,135)}
span#textcolor338{color:rgb(135,135,135)}
span#textcolor339{color:rgb(0,50,135)}
span#textcolor340{color:rgb(50,101,153)}
span#textcolor341{color:rgb(50,101,153)}
span#textcolor342{color:rgb(135,135,135)}
span#textcolor343{color:rgb(0,50,135)}
span#textcolor344{color:rgb(50,101,153)}
span#textcolor345{color:rgb(50,101,153)}
span#textcolor346{color:rgb(0,50,135)}
span#textcolor347{color:rgb(50,101,153)}
span#textcolor348{color:rgb(135,135,135)}
span#textcolor349{color:rgb(135,135,135)}
span#textcolor350{color:rgb(0,50,135)}
span#textcolor351{color:rgb(50,101,153)}
span#textcolor352{color:rgb(50,101,153)}
span#textcolor353{color:rgb(135,135,135)}
span#textcolor354{color:rgb(0,135,0)}
span#textcolor355{color:rgb(186,0,101)}
span#textcolor356{color:rgb(0,135,0)}
span#textcolor357{color:rgb(0,101,186)}
span#textcolor358{color:rgb(0,50,135)}
span#colorbox359{background-color:rgb(255,239,239);}
span#textcolor360{color:rgb(221,33,0)}
span#colorbox361{background-color:rgb(255,239,239);}
span#textcolor362{color:rgb(221,33,0)}
span#colorbox363{background-color:rgb(255,239,239);}
span#textcolor364{color:rgb(221,33,0)}
span#textcolor365{color:rgb(0,0,221)}
span#textcolor366{color:rgb(0,50,135)}
span#textcolor367{color:rgb(0,50,135)}
span#textcolor368{color:rgb(0,50,135)}
span#textcolor369{color:rgb(0,135,0)}
span#textcolor370{color:rgb(0,50,135)}
span#colorbox371{background-color:rgb(255,239,239);}
span#textcolor372{color:rgb(221,33,0)}
span#colorbox373{background-color:rgb(255,239,239);}
span#textcolor374{color:rgb(221,33,0)}
span#colorbox375{background-color:rgb(255,239,239);}
span#textcolor376{color:rgb(221,33,0)}
span#colorbox377{background-color:rgb(255,239,239);}
span#textcolor378{color:rgb(221,33,0)}
span#colorbox379{background-color:rgb(255,239,239);}
span#textcolor380{color:rgb(221,33,0)}
span#colorbox381{background-color:rgb(255,239,239);}
span#textcolor382{color:rgb(221,33,0)}
span#colorbox383{background-color:rgb(255,239,239);}
span#textcolor384{color:rgb(221,33,0)}
span#colorbox385{background-color:rgb(255,239,239);}
span#textcolor386{color:rgb(221,33,0)}
span#colorbox387{background-color:rgb(255,239,239);}
span#textcolor388{color:rgb(221,33,0)}
span#textcolor389{color:rgb(0,135,0)}
span#textcolor390{color:rgb(0,50,135)}
span#textcolor391{color:rgb(0,50,135)}
span#textcolor392{color:rgb(0,0,221)}
span#textcolor393{color:rgb(0,135,0)}
span#textcolor394{color:rgb(0,101,186)}
span#colorbox395{background-color:rgb(255,239,239);}
span#textcolor396{color:rgb(221,33,0)}
span#colorbox397{background-color:rgb(255,239,239);}
span#textcolor398{color:rgb(221,33,0)}
span#colorbox399{background-color:rgb(255,239,239);}
span#textcolor400{color:rgb(221,33,0)}
span#textcolor401{color:rgb(0,0,221)}
span#textcolor402{color:rgb(0,135,0)}
span#textcolor403{color:rgb(0,50,135)}
span#textcolor404{color:rgb(0,135,0)}
span#textcolor405{color:rgb(0,101,186)}
span#colorbox406{background-color:rgb(255,239,239);}
span#textcolor407{color:rgb(221,33,0)}
span#colorbox408{background-color:rgb(255,239,239);}
span#textcolor409{color:rgb(50,50,186)}
span#colorbox410{background-color:rgb(255,239,239);}
span#textcolor411{color:rgb(221,33,0)}
span#colorbox412{background-color:rgb(255,239,239);}
span#textcolor413{color:rgb(50,50,186)}
span#colorbox414{background-color:rgb(255,239,239);}
span#textcolor415{color:rgb(221,33,0)}
span#colorbox416{background-color:rgb(255,239,239);}
span#textcolor417{color:rgb(50,50,186)}
span#colorbox418{background-color:rgb(255,239,239);}
span#textcolor419{color:rgb(221,33,0)}
span#colorbox420{background-color:rgb(255,239,239);}
span#textcolor421{color:rgb(221,33,0)}
span#textcolor422{color:rgb(0,50,135)}
span#textcolor423{color:rgb(0,50,135)}
span#textcolor424{color:rgb(0,50,135)}
span#textcolor425{color:rgb(0,50,135)}
span#colorbox426{background-color:rgb(255,239,239);}
span#textcolor427{color:rgb(221,33,0)}
span#colorbox428{background-color:rgb(255,239,239);}
span#textcolor429{color:rgb(221,33,0)}
span#colorbox430{background-color:rgb(255,239,239);}
span#textcolor431{color:rgb(221,33,0)}
span#textcolor432{color:rgb(0,135,0)}
span#textcolor433{color:rgb(0,101,186)}
span#textcolor434{color:rgb(0,50,135)}
span#colorbox435{background-color:rgb(255,239,239);}
span#textcolor436{color:rgb(221,33,0)}
span#colorbox437{background-color:rgb(255,239,239);}
span#textcolor438{color:rgb(221,33,0)}
span#colorbox439{background-color:rgb(255,239,239);}
span#textcolor440{color:rgb(221,33,0)}
span#textcolor441{color:rgb(0,135,0)}
span#textcolor442{color:rgb(186,0,101)}
span#textcolor443{color:rgb(0,135,0)}
span#textcolor444{color:rgb(0,135,0)}
span#textcolor445{color:rgb(0,101,186)}
span#colorbox446{background-color:rgb(255,239,239);}
span#textcolor447{color:rgb(221,33,0)}
span#colorbox448{background-color:rgb(255,239,239);}
span#textcolor449{color:rgb(221,33,0)}
span#colorbox450{background-color:rgb(255,239,239);}
span#textcolor451{color:rgb(221,33,0)}
span#textcolor452{color:rgb(0,0,221)}
span#textcolor453{color:rgb(0,135,0)}
span#textcolor454{color:rgb(0,50,135)}
span#textcolor455{color:rgb(0,135,0)}
span#textcolor456{color:rgb(0,50,135)}
span#textcolor457{color:rgb(0,135,0)}
span#textcolor458{color:rgb(0,135,0)}
span#textcolor459{color:rgb(186,0,101)}
span#textcolor460{color:rgb(0,135,0)}
span#textcolor461{color:rgb(0,135,0)}
span#textcolor462{color:rgb(186,0,101)}
span#textcolor463{color:rgb(0,135,0)}
span#textcolor464{color:rgb(186,0,101)}
span#textcolor465{color:rgb(0,135,0)}
span#textcolor466{color:rgb(135,135,135)}
span#textcolor467{color:rgb(135,135,135)}
span#colorbox468{background-color:rgb(255,239,239);}
span#textcolor469{color:rgb(221,33,0)}
span#colorbox470{background-color:rgb(255,239,239);}
span#textcolor471{color:rgb(221,33,0)}
span#colorbox472{background-color:rgb(255,239,239);}
span#textcolor473{color:rgb(221,33,0)}
span#colorbox474{background-color:rgb(255,239,239);}
span#textcolor475{color:rgb(221,33,0)}
span#colorbox476{background-color:rgb(255,239,239);}
span#textcolor477{color:rgb(221,33,0)}
span#colorbox478{background-color:rgb(255,239,239);}
span#textcolor479{color:rgb(221,33,0)}
span#textcolor480{color:rgb(0,135,0)}
span#textcolor481{color:rgb(0,50,135)}
span#textcolor482{color:rgb(0,135,0)}
span#colorbox483{background-color:rgb(255,239,239);}
span#textcolor484{color:rgb(221,33,0)}
span#colorbox485{background-color:rgb(255,239,239);}
span#textcolor486{color:rgb(221,33,0)}
span#colorbox487{background-color:rgb(255,239,239);}
span#textcolor488{color:rgb(221,33,0)}
span#textcolor489{color:rgb(0,135,0)}
span#textcolor490{color:rgb(0,135,0)}
span#colorbox491{background-color:rgb(255,239,239);}
span#textcolor492{color:rgb(221,33,0)}
span#colorbox493{background-color:rgb(255,239,239);}
span#textcolor494{color:rgb(221,33,0)}
span#colorbox495{background-color:rgb(255,239,239);}
span#textcolor496{color:rgb(221,33,0)}
span#textcolor497{color:rgb(0,135,0)}
span#textcolor498{color:rgb(0,135,0)}
span#colorbox499{background-color:rgb(255,239,239);}
span#textcolor500{color:rgb(221,33,0)}
span#colorbox501{background-color:rgb(255,239,239);}
span#textcolor502{color:rgb(221,33,0)}
span#colorbox503{background-color:rgb(255,239,239);}
span#textcolor504{color:rgb(221,33,0)}
span#textcolor505{color:rgb(0,50,135)}
span#textcolor506{color:rgb(0,135,0)}
span#colorbox507{background-color:rgb(255,239,239);}
span#textcolor508{color:rgb(221,33,0)}
span#colorbox509{background-color:rgb(255,239,239);}
span#textcolor510{color:rgb(221,33,0)}
span#colorbox511{background-color:rgb(255,239,239);}
span#textcolor512{color:rgb(221,33,0)}
span#colorbox513{background-color:rgb(255,239,239);}
span#textcolor514{color:rgb(221,33,0)}
span#colorbox515{background-color:rgb(255,239,239);}
span#textcolor516{color:rgb(221,33,0)}
span#textcolor517{color:rgb(0,135,0)}
span#colorbox518{background-color:rgb(255,239,239);}
span#textcolor519{color:rgb(221,33,0)}
span#colorbox520{background-color:rgb(255,239,239);}
span#textcolor521{color:rgb(221,33,0)}
span#colorbox522{background-color:rgb(255,239,239);}
span#textcolor523{color:rgb(0,68,221)}
span#colorbox524{background-color:rgb(255,239,239);}
span#textcolor525{color:rgb(221,33,0)}
span#colorbox526{background-color:rgb(255,239,239);}
span#textcolor527{color:rgb(50,50,186)}
span#colorbox528{background-color:rgb(255,239,239);}
span#textcolor529{color:rgb(0,68,221)}
span#colorbox530{background-color:rgb(255,239,239);}
span#textcolor531{color:rgb(221,33,0)}
span#colorbox532{background-color:rgb(255,239,239);}
span#textcolor533{color:rgb(50,50,186)}
span#colorbox534{background-color:rgb(255,239,239);}
span#textcolor535{color:rgb(0,68,221)}
span#colorbox536{background-color:rgb(255,239,239);}
span#textcolor537{color:rgb(221,33,0)}
span#colorbox538{background-color:rgb(255,239,239);}
span#textcolor539{color:rgb(50,50,186)}
span#colorbox540{background-color:rgb(255,239,239);}
span#textcolor541{color:rgb(0,68,221)}
span#colorbox542{background-color:rgb(255,239,239);}
span#textcolor543{color:rgb(221,33,0)}
span#colorbox544{background-color:rgb(255,239,239);}
span#textcolor545{color:rgb(50,50,186)}
span#colorbox546{background-color:rgb(255,239,239);}
span#textcolor547{color:rgb(0,68,221)}
span#colorbox548{background-color:rgb(255,239,239);}
span#textcolor549{color:rgb(221,33,0)}
span#colorbox550{background-color:rgb(255,239,239);}
span#textcolor551{color:rgb(50,50,186)}
span#colorbox552{background-color:rgb(255,239,239);}
span#textcolor553{color:rgb(221,33,0)}
span#colorbox554{background-color:rgb(255,239,239);}
span#textcolor555{color:rgb(221,33,0)}
span#textcolor556{color:rgb(0,135,0)}
span#textcolor557{color:rgb(0,135,0)}
span#textcolor558{color:rgb(0,101,186)}
span#colorbox559{background-color:rgb(255,239,239);}
span#textcolor560{color:rgb(221,33,0)}
span#colorbox561{background-color:rgb(255,239,239);}
span#textcolor562{color:rgb(221,33,0)}
span#colorbox563{background-color:rgb(255,239,239);}
span#textcolor564{color:rgb(221,33,0)}
span#colorbox565{background-color:rgb(255,239,239);}
span#textcolor566{color:rgb(221,33,0)}
span#colorbox567{background-color:rgb(255,239,239);}
span#textcolor568{color:rgb(221,33,0)}
span#colorbox569{background-color:rgb(255,239,239);}
span#textcolor570{color:rgb(221,33,0)}
span#colorbox571{background-color:rgb(255,239,239);}
span#textcolor572{color:rgb(221,33,0)}
span#colorbox573{background-color:rgb(255,239,239);}
span#textcolor574{color:rgb(221,33,0)}
span#colorbox575{background-color:rgb(255,239,239);}
span#textcolor576{color:rgb(221,33,0)}
span#colorbox577{background-color:rgb(255,239,239);}
span#textcolor578{color:rgb(221,33,0)}
span#colorbox579{background-color:rgb(255,239,239);}
span#textcolor580{color:rgb(221,33,0)}
span#colorbox581{background-color:rgb(255,239,239);}
span#textcolor582{color:rgb(221,33,0)}
span#textcolor583{color:rgb(0,50,135)}
span#colorbox584{background-color:rgb(255,239,239);}
span#textcolor585{color:rgb(221,33,0)}
span#colorbox586{background-color:rgb(255,239,239);}
span#textcolor587{color:rgb(221,33,0)}
span#colorbox588{background-color:rgb(255,239,239);}
span#textcolor589{color:rgb(221,33,0)}
span#colorbox590{background-color:rgb(255,239,239);}
span#textcolor591{color:rgb(221,33,0)}
span#colorbox592{background-color:rgb(255,239,239);}
span#textcolor593{color:rgb(0,68,221)}
span#colorbox594{background-color:rgb(255,239,239);}
span#textcolor595{color:rgb(0,68,221)}
span#colorbox596{background-color:rgb(255,239,239);}
span#textcolor597{color:rgb(221,33,0)}
span#colorbox598{background-color:rgb(255,239,239);}
span#textcolor599{color:rgb(221,33,0)}
span#colorbox600{background-color:rgb(255,239,239);}
span#textcolor601{color:rgb(50,50,186)}
span#colorbox602{background-color:rgb(255,239,239);}
span#textcolor603{color:rgb(221,33,0)}
span#colorbox604{background-color:rgb(255,239,239);}
span#textcolor605{color:rgb(50,50,186)}
span#colorbox606{background-color:rgb(255,239,239);}
span#textcolor607{color:rgb(221,33,0)}
span#textcolor608{color:rgb(0,135,0)}
span#textcolor609{color:rgb(0,135,0)}
span#textcolor610{color:rgb(0,135,0)}
span#textcolor611{color:rgb(0,135,0)}
span#textcolor612{color:rgb(186,0,101)}
span#textcolor613{color:rgb(0,135,0)}
span#textcolor614{color:rgb(0,135,0)}
span#textcolor615{color:rgb(0,135,0)}
span#textcolor616{color:rgb(186,0,101)}
span#textcolor617{color:rgb(0,135,0)}
span#textcolor618{color:rgb(0,135,0)}
span#textcolor619{color:rgb(186,0,101)}
span#textcolor620{color:rgb(0,135,0)}
span#textcolor621{color:rgb(186,0,101)}
span#textcolor622{color:rgb(0,135,0)}
span#textcolor623{color:rgb(186,0,101)}
span#colorbox624{background-color:rgb(255,239,239);}
span#textcolor625{color:rgb(221,33,0)}
span#colorbox626{background-color:rgb(255,239,239);}
span#textcolor627{color:rgb(221,33,0)}
span#colorbox628{background-color:rgb(255,239,239);}
span#textcolor629{color:rgb(221,33,0)}
span#colorbox630{background-color:rgb(255,239,239);}
span#textcolor631{color:rgb(221,33,0)}
span#colorbox632{background-color:rgb(255,239,239);}
span#textcolor633{color:rgb(221,33,0)}
span#colorbox634{background-color:rgb(255,239,239);}
span#textcolor635{color:rgb(221,33,0)}
span#colorbox636{background-color:rgb(255,239,239);}
span#textcolor637{color:rgb(221,33,0)}
span#colorbox638{background-color:rgb(255,239,239);}
span#textcolor639{color:rgb(221,33,0)}
span#colorbox640{background-color:rgb(255,239,239);}
span#textcolor641{color:rgb(221,33,0)}
span#textcolor642{color:rgb(0,135,0)}
span#textcolor643{color:rgb(0,50,135)}
span#textcolor644{color:rgb(0,135,0)}
span#colorbox645{background-color:rgb(255,239,239);}
span#textcolor646{color:rgb(221,33,0)}
span#colorbox647{background-color:rgb(255,239,239);}
span#textcolor648{color:rgb(221,33,0)}
span#colorbox649{background-color:rgb(255,239,239);}
span#textcolor650{color:rgb(221,33,0)}
span#textcolor651{color:rgb(0,135,0)}
span#textcolor652{color:rgb(0,135,0)}
span#colorbox653{background-color:rgb(255,239,239);}
span#textcolor654{color:rgb(221,33,0)}
span#colorbox655{background-color:rgb(255,239,239);}
span#textcolor656{color:rgb(221,33,0)}
span#colorbox657{background-color:rgb(255,239,239);}
span#textcolor658{color:rgb(221,33,0)}
span#textcolor659{color:rgb(0,135,0)}
span#textcolor660{color:rgb(0,135,0)}
span#colorbox661{background-color:rgb(255,239,239);}
span#textcolor662{color:rgb(221,33,0)}
span#colorbox663{background-color:rgb(255,239,239);}
span#textcolor664{color:rgb(221,33,0)}
span#colorbox665{background-color:rgb(255,239,239);}
span#textcolor666{color:rgb(221,33,0)}
span#textcolor667{color:rgb(0,50,135)}
span#colorbox668{background-color:rgb(255,239,239);}
span#textcolor669{color:rgb(221,33,0)}
span#colorbox670{background-color:rgb(255,239,239);}
span#textcolor671{color:rgb(221,33,0)}
span#colorbox672{background-color:rgb(255,239,239);}
span#textcolor673{color:rgb(221,33,0)}
span#colorbox674{background-color:rgb(255,239,239);}
span#textcolor675{color:rgb(221,33,0)}
span#colorbox676{background-color:rgb(255,239,239);}
span#textcolor677{color:rgb(221,33,0)}
span#colorbox678{background-color:rgb(255,239,239);}
span#textcolor679{color:rgb(221,33,0)}
span#colorbox680{background-color:rgb(255,239,239);}
span#textcolor681{color:rgb(221,33,0)}
span#colorbox682{background-color:rgb(255,239,239);}
span#textcolor683{color:rgb(221,33,0)}
span#colorbox684{background-color:rgb(255,239,239);}
span#textcolor685{color:rgb(221,33,0)}
span#textcolor686{color:rgb(0,50,135)}
span#textcolor687{color:rgb(0,135,0)}
span#textcolor688{color:rgb(0,135,0)}
span#colorbox689{background-color:rgb(255,239,239);}
span#textcolor690{color:rgb(221,33,0)}
span#colorbox691{background-color:rgb(255,239,239);}
span#textcolor692{color:rgb(221,33,0)}
span#colorbox693{background-color:rgb(255,239,239);}
span#textcolor694{color:rgb(221,33,0)}
span#textcolor695{color:rgb(0,135,0)}
span#textcolor696{color:rgb(0,50,135)}
span#colorbox697{background-color:rgb(255,239,239);}
span#textcolor698{color:rgb(221,33,0)}
span#colorbox699{background-color:rgb(255,239,239);}
span#textcolor700{color:rgb(221,33,0)}
span#colorbox701{background-color:rgb(255,239,239);}
span#textcolor702{color:rgb(221,33,0)}
span#textcolor703{color:rgb(0,135,0)}
span#colorbox704{background-color:rgb(255,239,239);}
span#textcolor705{color:rgb(221,33,0)}
span#colorbox706{background-color:rgb(255,239,239);}
span#textcolor707{color:rgb(221,33,0)}
span#colorbox708{background-color:rgb(255,239,239);}
span#textcolor709{color:rgb(50,50,186)}
span#colorbox710{background-color:rgb(255,239,239);}
span#textcolor711{color:rgb(221,33,0)}
span#colorbox712{background-color:rgb(255,239,239);}
span#textcolor713{color:rgb(50,50,186)}
span#colorbox714{background-color:rgb(255,239,239);}
span#textcolor715{color:rgb(221,33,0)}
span#textcolor716{color:rgb(0,50,135)}
span#colorbox717{background-color:rgb(255,239,239);}
span#textcolor718{color:rgb(221,33,0)}
span#colorbox719{background-color:rgb(255,239,239);}
span#textcolor720{color:rgb(221,33,0)}
span#colorbox721{background-color:rgb(255,239,239);}
span#textcolor722{color:rgb(221,33,0)}
span#colorbox723{background-color:rgb(255,239,239);}
span#textcolor724{color:rgb(221,33,0)}
span#colorbox725{background-color:rgb(255,239,239);}
span#textcolor726{color:rgb(221,33,0)}
span#colorbox727{background-color:rgb(255,239,239);}
span#textcolor728{color:rgb(50,50,186)}
span#colorbox729{background-color:rgb(255,239,239);}
span#textcolor730{color:rgb(221,33,0)}
span#textcolor731{color:rgb(0,135,0)}
span#colorbox732{background-color:rgb(255,239,239);}
span#textcolor733{color:rgb(221,33,0)}
span#colorbox734{background-color:rgb(255,239,239);}
span#textcolor735{color:rgb(221,33,0)}
span#colorbox736{background-color:rgb(255,239,239);}
span#textcolor737{color:rgb(221,33,0)}
span#textcolor738{color:rgb(0,50,135)}
span#textcolor739{color:rgb(0,135,0)}
span#colorbox740{background-color:rgb(255,239,239);}
span#textcolor741{color:rgb(221,33,0)}
span#colorbox742{background-color:rgb(255,239,239);}
span#textcolor743{color:rgb(221,33,0)}
span#colorbox744{background-color:rgb(255,239,239);}
span#textcolor745{color:rgb(221,33,0)}
span#colorbox746{background-color:rgb(255,239,239);}
span#textcolor747{color:rgb(221,33,0)}
span#colorbox748{background-color:rgb(255,239,239);}
span#textcolor749{color:rgb(221,33,0)}
span#textcolor750{color:rgb(0,135,0)}
span#colorbox751{background-color:rgb(255,239,239);}
span#textcolor752{color:rgb(221,33,0)}
span#colorbox753{background-color:rgb(255,239,239);}
span#textcolor754{color:rgb(221,33,0)}
span#colorbox755{background-color:rgb(255,239,239);}
span#textcolor756{color:rgb(50,50,186)}
span#colorbox757{background-color:rgb(255,239,239);}
span#textcolor758{color:rgb(221,33,0)}
span#colorbox759{background-color:rgb(255,239,239);}
span#textcolor760{color:rgb(221,33,0)}
span#colorbox761{background-color:rgb(255,239,239);}
span#textcolor762{color:rgb(221,33,0)}
span#colorbox763{background-color:rgb(255,239,239);}
span#textcolor764{color:rgb(221,33,0)}
span#colorbox765{background-color:rgb(255,239,239);}
span#textcolor766{color:rgb(221,33,0)}
span#textcolor767{color:rgb(0,50,135)}
span#textcolor768{color:rgb(0,135,0)}
span#textcolor769{color:rgb(0,135,0)}
span#colorbox770{background-color:rgb(255,239,239);}
span#textcolor771{color:rgb(221,33,0)}
span#colorbox772{background-color:rgb(255,239,239);}
span#textcolor773{color:rgb(221,33,0)}
span#colorbox774{background-color:rgb(255,239,239);}
span#textcolor775{color:rgb(0,68,221)}
span#colorbox776{background-color:rgb(255,239,239);}
span#textcolor777{color:rgb(221,33,0)}
span#colorbox778{background-color:rgb(255,239,239);}
span#textcolor779{color:rgb(50,50,186)}
span#colorbox780{background-color:rgb(255,239,239);}
span#textcolor781{color:rgb(0,68,221)}
span#colorbox782{background-color:rgb(255,239,239);}
span#textcolor783{color:rgb(221,33,0)}
span#colorbox784{background-color:rgb(255,239,239);}
span#textcolor785{color:rgb(50,50,186)}
span#colorbox786{background-color:rgb(255,239,239);}
span#textcolor787{color:rgb(0,68,221)}
span#colorbox788{background-color:rgb(255,239,239);}
span#textcolor789{color:rgb(221,33,0)}
span#colorbox790{background-color:rgb(255,239,239);}
span#textcolor791{color:rgb(50,50,186)}
span#colorbox792{background-color:rgb(255,239,239);}
span#textcolor793{color:rgb(0,68,221)}
span#colorbox794{background-color:rgb(255,239,239);}
span#textcolor795{color:rgb(221,33,0)}
span#colorbox796{background-color:rgb(255,239,239);}
span#textcolor797{color:rgb(50,50,186)}
span#colorbox798{background-color:rgb(255,239,239);}
span#textcolor799{color:rgb(0,68,221)}
span#colorbox800{background-color:rgb(255,239,239);}
span#textcolor801{color:rgb(221,33,0)}
span#colorbox802{background-color:rgb(255,239,239);}
span#textcolor803{color:rgb(50,50,186)}
span#colorbox804{background-color:rgb(255,239,239);}
span#textcolor805{color:rgb(221,33,0)}
span#colorbox806{background-color:rgb(255,239,239);}
span#textcolor807{color:rgb(221,33,0)}
span#textcolor808{color:rgb(0,135,0)}
span#textcolor809{color:rgb(0,135,0)}
span#textcolor810{color:rgb(186,0,101)}
span#textcolor811{color:rgb(0,135,0)}
span#textcolor812{color:rgb(0,135,0)}
span#textcolor813{color:rgb(186,0,101)}
span#textcolor814{color:rgb(0,135,0)}
span#textcolor815{color:rgb(0,135,0)}
span#textcolor816{color:rgb(186,0,101)}
span#colorbox817{background-color:rgb(255,239,239);}
span#textcolor818{color:rgb(221,33,0)}
span#colorbox819{background-color:rgb(255,239,239);}
span#textcolor820{color:rgb(221,33,0)}
span#colorbox821{background-color:rgb(255,239,239);}
span#textcolor822{color:rgb(221,33,0)}
span#colorbox823{background-color:rgb(255,239,239);}
span#textcolor824{color:rgb(221,33,0)}
span#colorbox825{background-color:rgb(255,239,239);}
span#textcolor826{color:rgb(221,33,0)}
span#colorbox827{background-color:rgb(255,239,239);}
span#textcolor828{color:rgb(221,33,0)}
span#colorbox829{background-color:rgb(255,239,239);}
span#textcolor830{color:rgb(221,33,0)}
span#colorbox831{background-color:rgb(255,239,239);}
span#textcolor832{color:rgb(221,33,0)}
span#colorbox833{background-color:rgb(255,239,239);}
span#textcolor834{color:rgb(221,33,0)}
span#colorbox835{background-color:rgb(255,239,239);}
span#textcolor836{color:rgb(221,33,0)}
span#colorbox837{background-color:rgb(255,239,239);}
span#textcolor838{color:rgb(221,33,0)}
span#colorbox839{background-color:rgb(255,239,239);}
span#textcolor840{color:rgb(221,33,0)}
span#colorbox841{background-color:rgb(255,239,239);}
span#textcolor842{color:rgb(221,33,0)}
span#colorbox843{background-color:rgb(255,239,239);}
span#textcolor844{color:rgb(221,33,0)}
span#colorbox845{background-color:rgb(255,239,239);}
span#textcolor846{color:rgb(221,33,0)}
span#textcolor847{color:rgb(0,135,0)}
span#colorbox848{background-color:rgb(255,239,239);}
span#textcolor849{color:rgb(221,33,0)}
span#colorbox850{background-color:rgb(255,239,239);}
span#textcolor851{color:rgb(221,33,0)}
span#colorbox852{background-color:rgb(255,239,239);}
span#textcolor853{color:rgb(221,33,0)}
span#textcolor854{color:rgb(0,0,221)}
span#textcolor855{color:rgb(0,0,221)}
span#colorbox856{background-color:rgb(255,239,239);}
span#textcolor857{color:rgb(221,33,0)}
span#colorbox858{background-color:rgb(255,239,239);}
span#textcolor859{color:rgb(221,33,0)}
span#colorbox860{background-color:rgb(255,239,239);}
span#textcolor861{color:rgb(221,33,0)}
span#colorbox862{background-color:rgb(255,239,239);}
span#textcolor863{color:rgb(221,33,0)}
span#colorbox864{background-color:rgb(255,239,239);}
span#textcolor865{color:rgb(221,33,0)}
span#colorbox866{background-color:rgb(255,239,239);}
span#textcolor867{color:rgb(221,33,0)}
span#textcolor868{color:rgb(0,135,0)}
span#textcolor869{color:rgb(0,50,135)}
span#textcolor870{color:rgb(0,135,0)}
span#textcolor871{color:rgb(0,135,0)}
span#colorbox872{background-color:rgb(255,239,239);}
span#textcolor873{color:rgb(221,33,0)}
span#colorbox874{background-color:rgb(255,239,239);}
span#textcolor875{color:rgb(221,33,0)}
span#colorbox876{background-color:rgb(255,239,239);}
span#textcolor877{color:rgb(221,33,0)}
span#textcolor878{color:rgb(0,135,0)}
span#textcolor879{color:rgb(0,135,0)}
span#colorbox880{background-color:rgb(255,239,239);}
span#textcolor881{color:rgb(221,33,0)}
span#colorbox882{background-color:rgb(255,239,239);}
span#textcolor883{color:rgb(221,33,0)}
span#colorbox884{background-color:rgb(255,239,239);}
span#textcolor885{color:rgb(221,33,0)}
span#textcolor886{color:rgb(0,135,0)}
span#textcolor887{color:rgb(0,0,221)}
span#textcolor888{color:rgb(0,135,0)}
span#colorbox889{background-color:rgb(255,239,239);}
span#textcolor890{color:rgb(221,33,0)}
span#colorbox891{background-color:rgb(255,239,239);}
span#textcolor892{color:rgb(221,33,0)}
span#colorbox893{background-color:rgb(255,239,239);}
span#textcolor894{color:rgb(221,33,0)}
span#colorbox895{background-color:rgb(255,239,239);}
span#textcolor896{color:rgb(221,33,0)}
span#colorbox897{background-color:rgb(255,239,239);}
span#textcolor898{color:rgb(221,33,0)}
span#colorbox899{background-color:rgb(255,239,239);}
span#textcolor900{color:rgb(221,33,0)}
span#textcolor901{color:rgb(0,135,0)}
span#colorbox902{background-color:rgb(255,239,239);}
span#textcolor903{color:rgb(221,33,0)}
span#colorbox904{background-color:rgb(255,239,239);}
span#textcolor905{color:rgb(221,33,0)}
span#textcolor906{color:rgb(204,0,0)}
span#textcolor907{color:rgb(204,0,0)}
span#textcolor908{color:rgb(204,0,0)}
span#textcolor909{color:rgb(204,0,0)}
span#textcolor910{color:rgb(204,0,0)}
span#textcolor911{color:rgb(204,0,0)}
span#textcolor912{color:rgb(0,101,186)}
span#textcolor913{color:rgb(135,135,135)}
span#textcolor914{color:rgb(0,0,221)}
span#textcolor915{color:rgb(135,135,135)}
span#textcolor916{color:rgb(0,135,0)}
span#textcolor917{color:rgb(0,50,135)}
span#colorbox918{background-color:rgb(255,239,239);}
span#textcolor919{color:rgb(221,33,0)}
span#colorbox920{background-color:rgb(255,239,239);}
span#textcolor921{color:rgb(221,33,0)}
span#colorbox922{background-color:rgb(255,239,239);}
span#textcolor923{color:rgb(221,33,0)}
span#textcolor924{color:rgb(135,135,135)}
span#textcolor925{color:rgb(0,135,0)}
span#textcolor926{color:rgb(0,101,186)}
span#textcolor927{color:rgb(135,135,135)}
span#textcolor928{color:rgb(0,0,221)}
span#colorbox929{background-color:rgb(255,239,239);}
span#textcolor930{color:rgb(221,33,0)}
span#colorbox931{background-color:rgb(255,239,239);}
span#textcolor932{color:rgb(221,33,0)}
span#colorbox933{background-color:rgb(255,239,239);}
span#textcolor934{color:rgb(221,33,0)}
span#textcolor935{color:rgb(0,135,0)}
span#textcolor936{color:rgb(50,101,153)}
span#textcolor937{color:rgb(0,135,0)}
span#textcolor938{color:rgb(0,50,135)}
span#textcolor939{color:rgb(135,135,135)}
span#textcolor940{color:rgb(135,135,135)}
span#textcolor941{color:rgb(135,135,135)}
span#textcolor942{color:rgb(135,135,135)}
span#textcolor943{color:rgb(135,135,135)}
span#textcolor944{color:rgb(135,135,135)}
span#textcolor945{color:rgb(135,135,135)}
span#textcolor946{color:rgb(135,135,135)}
span#textcolor947{color:rgb(135,135,135)}
span#textcolor948{color:rgb(135,135,135)}
span#textcolor949{color:rgb(135,135,135)}
span#textcolor950{color:rgb(135,135,135)}
span#textcolor951{color:rgb(135,135,135)}
span#textcolor952{color:rgb(135,135,135)}
span#textcolor953{color:rgb(135,135,135)}
span#textcolor954{color:rgb(135,135,135)}
span#textcolor955{color:rgb(135,135,135)}
span#textcolor956{color:rgb(135,135,135)}
span#textcolor957{color:rgb(135,135,135)}
span#textcolor958{color:rgb(135,135,135)}
span#textcolor959{color:rgb(135,135,135)}
span#textcolor960{color:rgb(135,135,135)}
span#textcolor961{color:rgb(135,135,135)}
span#textcolor962{color:rgb(135,135,135)}
span#textcolor963{color:rgb(135,135,135)}
span#textcolor964{color:rgb(135,135,135)}
span#textcolor965{color:rgb(135,135,135)}
span#textcolor966{color:rgb(135,135,135)}
span#textcolor967{color:rgb(135,135,135)}
span#textcolor968{color:rgb(135,135,135)}
span#textcolor969{color:rgb(135,135,135)}
span#textcolor970{color:rgb(135,135,135)}
span#textcolor971{color:rgb(135,135,135)}
span#textcolor972{color:rgb(204,0,0)}
span#textcolor973{color:rgb(204,0,0)}
span#textcolor974{color:rgb(204,0,0)}
span#textcolor975{color:rgb(204,0,0)}
span#textcolor976{color:rgb(204,0,0)}
span#textcolor977{color:rgb(204,0,0)}
span#textcolor978{color:rgb(204,0,0)}
span#textcolor979{color:rgb(204,0,0)}
span#textcolor980{color:rgb(204,0,0)}
span#textcolor981{color:rgb(204,0,0)}
span#textcolor982{color:rgb(204,0,0)}
span#textcolor983{color:rgb(204,0,0)}
span#textcolor984{color:rgb(0,135,0)}
span#colorbox985{background-color:rgb(255,239,239);}
span#textcolor986{color:rgb(221,33,0)}
span#colorbox987{background-color:rgb(255,239,239);}
span#textcolor988{color:rgb(221,33,0)}
span#colorbox989{background-color:rgb(255,239,239);}
span#textcolor990{color:rgb(221,33,0)}
span#textcolor991{color:rgb(135,135,135)}
span#textcolor992{color:rgb(0,101,186)}
span#textcolor993{color:rgb(0,135,0)}
span#textcolor994{color:rgb(135,135,135)}
span#textcolor995{color:rgb(0,135,0)}
span#colorbox996{background-color:rgb(255,239,239);}
span#textcolor997{color:rgb(221,33,0)}
span#colorbox998{background-color:rgb(255,239,239);}
span#textcolor999{color:rgb(221,33,0)}
span#colorbox1000{background-color:rgb(255,239,239);}
span#textcolor1001{color:rgb(221,33,0)}
span#textcolor1002{color:rgb(0,135,0)}
span#textcolor1003{color:rgb(0,0,221)}
span#textcolor1004{color:rgb(0,135,0)}
span#colorbox1005{background-color:rgb(255,239,239);}
span#textcolor1006{color:rgb(221,33,0)}
span#colorbox1007{background-color:rgb(255,239,239);}
span#textcolor1008{color:rgb(221,33,0)}
span#colorbox1009{background-color:rgb(255,239,239);}
span#textcolor1010{color:rgb(221,33,0)}
span#textcolor1011{color:rgb(0,135,0)}
span#textcolor1012{color:rgb(0,0,221)}
span#textcolor1013{color:rgb(135,135,135)}
span#textcolor1014{color:rgb(0,101,186)}
span#textcolor1015{color:rgb(0,101,186)}
span#textcolor1016{color:rgb(135,135,135)}
span#textcolor1017{color:rgb(0,135,0)}
span#textcolor1018{color:rgb(0,50,135)}
span#textcolor1019{color:rgb(0,101,186)}
span#textcolor1020{color:rgb(135,135,135)}
span#textcolor1021{color:rgb(0,135,0)}
span#textcolor1022{color:rgb(0,50,135)}
span#textcolor1023{color:rgb(0,101,186)}
span#textcolor1024{color:rgb(135,135,135)}
span#textcolor1025{color:rgb(0,135,0)}
span#textcolor1026{color:rgb(0,50,135)}
span#textcolor1027{color:rgb(0,101,186)}
span#textcolor1028{color:rgb(135,135,135)}
span#textcolor1029{color:rgb(135,135,135)}
span#textcolor1030{color:rgb(0,135,0)}
span#textcolor1031{color:rgb(0,50,135)}
span#textcolor1032{color:rgb(0,101,186)}
span#textcolor1033{color:rgb(135,135,135)}
span#textcolor1034{color:rgb(0,135,0)}
span#textcolor1035{color:rgb(0,50,135)}
span#textcolor1036{color:rgb(0,101,186)}
span#textcolor1037{color:rgb(0,135,0)}
span#textcolor1038{color:rgb(135,135,135)}
span#textcolor1039{color:rgb(0,135,0)}
span#textcolor1040{color:rgb(0,50,135)}
span#textcolor1041{color:rgb(0,101,186)}
span#textcolor1042{color:rgb(0,135,0)}
span#textcolor1043{color:rgb(0,50,135)}
span#textcolor1044{color:rgb(0,101,186)}
span#textcolor1045{color:rgb(0,135,0)}
span#textcolor1046{color:rgb(0,50,135)}
span#textcolor1047{color:rgb(0,101,186)}
span#textcolor1048{color:rgb(135,135,135)}
span#textcolor1049{color:rgb(0,135,0)}
span#textcolor1050{color:rgb(0,50,135)}
span#textcolor1051{color:rgb(135,135,135)}
span#textcolor1052{color:rgb(135,135,135)}
span#textcolor1053{color:rgb(135,135,135)}
span#textcolor1054{color:rgb(135,135,135)}
span#textcolor1055{color:rgb(135,135,135)}
span#textcolor1056{color:rgb(135,135,135)}
span#textcolor1057{color:rgb(135,135,135)}
span#textcolor1058{color:rgb(135,135,135)}
span#textcolor1059{color:rgb(135,135,135)}
span#textcolor1060{color:rgb(135,135,135)}
span#textcolor1061{color:rgb(135,135,135)}
span#textcolor1062{color:rgb(135,135,135)}
/* end css.sty */

